@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';


.title{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Cinzel Decorative', cursive;
    color: darkgrey;
}

